.caja{
    background-color: #EEDCD0;
    width: 250px;
    height: 250px;
}

.caja2{
    background-color: #CC997E;
    width: 250px;
    height: 250px;
}

.caja3{
    background-color: #A4A48C;
    width: 250px;
    height: 250px;
}
.caja4{
    /* PARA TEXTO */
    background-color: #F8F5F0; 
    width: 250px;
    height: 250px;
}
.caja5{
    background-color: #D8CAB8;
    width: 250px;
    height: 250px;
}
.caja6{
    background-color: #8B6F4E;
    width: 250px;
    height: 250px;
}

.box{
    display: flex;
}

/* EEDCD0
CC997E
A4A48C
F8F5F0
D8CAB8 */
