*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    background-color: #F8F5F0;
}

/* HEADER */
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 3rem;
    box-shadow: 0 0 15px #E1EEBC;
    background-color: #8B6F4E;
}

/* ---------------------------------------------------------- */

/* LOGO */
.logo{
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 20px;
    color: #F8F5F0;
}

.logo svg{
    width: 50px;
}

/* ---------------------------------------------------------- */

/* NAVBAR */

.nav-web ul{
    display: flex;
    list-style: none;
    gap: 3rem;
    margin-left: 7rem;
}

.nav-web a{
    text-decoration: none;
    color: #F8F5F0;
}

/* ---------------------------------------------------------- */

/* NAV-ICON & LOGIN-REGISTER */

.nav-icon{
    display: flex;
    gap: 1rem;
    position: relative;
}

.nav-icon ul{
    display: flex;
    gap: 1rem;
    list-style: none;
}

.login{
    display: flex;
    gap: 2rem;
    padding-top: 5px;
}

.login a{
    text-decoration: none;
    color: #F8F5F0;
}

/* ---------------------------------------------------------- */

/* HERO */

.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.hero-overlay {
    content: "";
    background-color: rgba(0, 0, 0, 0.4); /* Oscurecimiento leve */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hero::before {
    content: "";
    background-size: cover;
    background-position: center;
    background-image: url(sourceIcons/Imagen\ de\ WhatsApp\ 2025-03-20\ a\ las\ 19.13.02_087cb180.jpg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(10px); 
    z-index: -1;
}

.hero-logo{
    position: absolute;
    top: 10%;
}

.hero-logo svg{
    width: 320px;
    height: 320px;
}

.hero h1{
    text-decoration: underline #F8F5F0;
}

.hero-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 20%;
    color: #F8F5F0;
    font-size: 22px;
}
  
.btn-productos {
    display: inline-block;
    margin-top: 20px;
    background-color: #8b6f4e;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .btn-productos:hover {
    background-color: #CC997E;
  }

/* ---------------------------------------------------------- */

/* PRODUCTOS */
.productos {
    color: #8B6F4E;
    text-decoration: underline #8B6F4E;
    text-align: center;
    padding: 20px;
}
  
.productos h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
  
.product-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
  
.product-card {
    background-color: #f8f5f0;
    padding: 10px;
    border-radius: 8px;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    max-width: 250px;
    margin-left: 45px;
}
  
.product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
  
.btn-carrito {
    background-color: #8b6f4e;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
 }
 
.btn-carrito:hover {
    background-color: #CC997E;
}

/* ------------------------------------------------------------------ */

.father-line{
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.line{
    height: 4px;
    width: 70%;
    background-color: #8B6F4E;
}

/* FEATURES */

.features{
    display: flex;
    justify-content: center;
    min-height: 50vh;
    place-items: center;
    font-size: 18px;
}
.features-item{
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 10px;
}
.features-item svg{
    width: 5rem;
    height: auto;
}
.features-list ul{
    display: flex;
    gap: 15rem;
    list-style: none;
}

/* --------------------------------------------------------- */

/* FOOTER */

.footer{
    display: flex;
    position: relative;
    background-color: #8B6F4E;
    min-height: 220px;
    overflow: hidden;
}

.site-info{
    display: flex;
}

.copy{
    list-style: none;
    flex-wrap: wrap;
    width: 550px;
    position: absolute;
    top: 15%;
    left:25px
}

.footer-contact{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 200px;
    top: 10px;
    list-style: none;
}

.footer-contact h4{
    font-size: 20px;
}

.footer-contact li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .footer-contact li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 5px;
  }